* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navBar {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

#grid {
    display: grid;
    height: max-content;
    width: max-content;
    grid-template-columns: repeat(var(--grid-area), max-content);
    grid-template-rows: repeat(var(--grid-area), max-content);
    border: 2px solid gray;
    border-radius: 3px;
    padding: 2px;
}
.cell {
    border: 1px solid gray;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    margin: 1px;
}

button {
    height: 2em;
}